.calendar-popup {
  position: absolute;
  color: black;
  display: flex;
  right: 0;
  top: 20%;
}

.calendar-wrapper {
  height: 400px;
  width: 300px;
}

.calendar-popup-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px 6px 0px 18px;
  border-radius: 4px;
  box-shadow: 0px 8px 12px #091e4226;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.calendar-input {
  display: flex;
}

.calendar-box,
.react-datepicker__input-container input {
  width: 80px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.calendar-close {
  background-color: transparent;
  color: black;
  border: none;
}

.calendar-submit {
  color: white;
  background-color: rgb(54, 11, 107);
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
}
