.study-space {
  display: flex;
  margin-top: 16px;
  margin-left: 20px;
  display: flex;
  height: 100%;
}

.study-space h2 {
  color: white;
}

.timer-content {
  margin-top: 10px;
}

.timer {
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  width: 300px;
  padding: 30px;
  border-radius: 4px;
  font-size: 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer button {
  border: none;
  color: white;
  background-color: blueviolet;
  padding: 8px 8px 8px 12px;
  border-radius: 3px;
  margin-top: 6px;
}

.timer-header {
  display: flex;
}

.timer-stopwatch {
  font-size: 40px;
  font-weight: 700;
}

.study-menu-options {
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  right: 0;
  position: fixed;
  top: 12%;
}

.quote-button {
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  position: fixed;
  right: 0;
  top: 18%;
}

.quote-text {
  color: white;
  padding: 8px 4px 8px 12px;
  border-radius: 4px;
  margin-top: 12px;
  width: 250px;
  font-size: 26px;
}

.quote-text {
  color: white;
  padding: 8px 4px 8px 12px;
  border-radius: 4px;
  margin-top: 12px;
  width: 250px;
  font-size: 26px;
}

.quote-options {
  color: white;
  width: 100%;
}

.quote-menu {
  background-color: rgba(0, 0, 0, 0.566);
  padding: 8px 8px 4px 12px;
  border-radius: 8px;
  height: 70px;
  width: 160px;
  right: 0;
  position: fixed;
  top: 22%;
}

.quote-menu button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-top: 12px;
}

.quote-wrapper {
  position: fixed;
  right: 0;
  margin-top: -40px;
  margin-right: 40px;
}

.quote-text {
  color: white;
  padding: 8px 4px 8px 12px;
  border-radius: 4px;
  width: 300px;
  font-size: 26px;
  text-align: center;
  position: relative;
}
