.study-space {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  height: 100%;
}

.study-space h2 {
  color: white;
}

.timer-content {
  margin-top: 10px;
}

.timer {
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  width: 300px;
  padding: 30px;
  border-radius: 1rem;
  font-size: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer button {
  border: none;
  color: white;
  background-color: blueviolet;
  padding: 8px 8px 8px 12px;
  border-radius: 3px;
  margin-top: 6px;
}

.timer-header {
  display: flex;
}

.timer-stopwatch {
  font-size: 40px;
  font-weight: 700;
}

.study-menu-options {
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  border: none;
  border-radius: 3px;
  width: 3rem;
  position: fixed;
  right: 1.25rem;
  top: 40px;
}

.quote-button {
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 8px 8px 8px;
  width: 3rem;
  position: fixed;
  right: 1.25rem;
  top: 90px;
}

.quote-text {
  color: white;
  padding: 8px 4px 8px 12px;
  border-radius: 4px;
  margin-top: 24px;
  width: 250px;
  font-size: 26px;
}

.quote-options {
  color: white;
  width: 100%;
}

.quote-menu {
  background-color: rgba(0, 0, 0, 0.566);
  border-radius: 1rem;
  width: 268px;
  position: fixed;
  padding: 1.5rem;
  right: 4.25rem;
  top: 100px;
}

.quote-menu button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-top: 12px;
}

.quote-wrapper {
  position: fixed;
  right: 0;
  margin-top: -10px;
  margin-right: 40px;
}

.quote-text {
  color: white;
  text-align: right;
  position: relative;
  text-shadow: rgba(12, 4, 3, 0.5) -6px -6px 6px;
  bottom: 4rem;
}

.quote-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.quote-content p {
  font-size: 14px;
  font-weight: 400px;
}

.menu-transition {
  transition-duration: 0.2s;
}
