.navbar{
    display: flex;
    background-color: rgb(94, 34, 150);
    color: whitesmoke;
    height: 70px;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar .content{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}
.navbar button{
    background-color: transparent;
    border: none;
    color: whitesmoke;
}
