.task-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #172b4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-page .task-popup-column {
  border-radius: 8px;
  background-color: white;
  width: 600px;
  margin: 0 16px 8px 32px;
}

.task-popup-container {
  height: 100%;
  width: 100%;
  padding: 16px 0px 0px 8px;
  background-color: #1d09420f;
}

.task-page .header {
  display: flex;
  color: #37174d;
  margin: 0px 0px 4px 10px;
}
.task-page .header .material-icons {
  border: none;
}

.task-page .title-textarea {
  font-size: 20px;
  font-weight: 600;
  border: none;
  resize: none;
  border-radius: 3px;
  background-color: transparent;
  padding: 4px 8px;
  height: 32px;
  margin: -4px 8px;
  color: #37174d;
  width: 100%;
}
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.popup-description,
.popup-subtasks,
.popup-duedate {
  margin-top: 10px;
}

.popup-description {
  margin-left: 10px;
  margin-right: 20px;
}

.textarea-description {
  border: none;
  color: #37174d;
  border-radius: 3px;
  height: 50px;
  background-color: #2709520f;
  width: 100%;
  resize: none;
  display: flex;
  align-items: center;
  padding: 8px 0px 0px 8px;
}

.text-description {
  border: none;
  color: #37174d;
  border-radius: 3px;
  height: 50px;
  background-color: #2709520f;
  width: 100%;
  display: flex;
  padding: 8px 0px 0px 8px;
}

.description-header {
  display: flex;
  width: 100%;
  height: 32px;
  margin: 0px 0px 4px 2px;
  padding: 8px 0px;
  color: #37174d;
}

.create-subtask {
  border: none;
  color: #37174d;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-left: 8px;
}

.create-subtask:hover {
  background-color: #37174d4d;
}

.subtask-header {
  display: flex;
  margin: 0px 0px 4px 10px;
  padding: 8px 0px;
  color: #37174d;
}

.popup-main-content .material-icons {
  margin-right: 6px;
}

.popup-subtasks .subtask-list {
  margin: 6px;
}

.popup-subtasks .subtask-container {
  padding: 8px 8px 4px 12px;
  box-shadow: 0px 1px 1px #17094240, 0px 1px 1px #2409424f;
  background-color: white;
  margin: 4px;
  margin-bottom: 8px;
  min-height: 32px;
  border-radius: 8px;
  display: flex;
}

.subtask-wrapper .subtask-container .subtask-button {
  border: none;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtask-options {
  border: none;
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  display: flex;
}

.subtask-date {
  margin: 0px 4px 0px 0px;
  background-color: rgb(76, 47, 205);
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  margin-right: 8px;
}

.subtask-close,
.delete-subtask {
  background-color: transparent;
  border: none;
  font-size: 10px;
}

.popup-date {
  border: none;
  background-color: #2709520f;
  color: black;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px;
  margin-left: 4px;
}

.subtask-container p {
  color: #172b4dbd;
}

.task-duedate {
  font-size: 14px;
  margin-top: 10px;
  color: #37174d;
  margin: 0px 0px 4px 10px;
}

.popup-subtasks .subtask-input {
  align-items: center;
  padding: 0px 8px 4px 8px;
}

.popup-subtasks .subtask-input input {
  border: none;
  color: #2e174d;
  cursor: pointer;
  min-height: 35px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #17094240, 0px 1px 1px #2409424f;
}

.create-subtask-options,
.description-options {
  display: flex;
  margin-top: 6px;
}

.add-subtask,
.cancel-subtask,
.save-description,
.cancel-description {
  border: none;
  background-color: #2709520f;
  border-radius: 3px;
  padding: 6px 12px;
  margin-right: 8px;
}

.delete-task {
  border: none;
  color: white;
  background-color: #CA3521;
  border-radius: 3px;
  padding: 6px 12px;
  margin-left: 6px;
}

.crossed-out{
  text-decoration: line-through;
  color: gray;
}

.option-buttons{
  padding-bottom: 12px;
}

.estimated-dueDate{
  font-size: 14px;
  padding: 4px 8px 6px 6px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #965df241;
}
