.open{
    width: 200px;
}

.close{
    width: 25px;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    align-items: flex-start;
    top: 0;
    left: 0;
}

.sidebar .toggle-button{
    background-color: transparent;
    border: none;
}

.sidebar .options{/*list of options*/
    display: flex;
    flex-direction: column;
}

.sidebar .options button{/*Words*/
    background-color: transparent;
    border: none;
}
