.open{
    width: 500px;
    height: 500px;
}
.hidden{
    display: none;
}
.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.sidebar .toggle-button{
    background-color: transparent;
    border: none;
}
.sidebar .options{
    display: flex;
    flex-direction: row;
}