.open{
    width: 200px;
}

.close{
    width: 25px;
}

.close .material-icons{
    margin-left: -4px;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    align-items: flex-start;
    top: 0;
    left: 0;
    font-size: 16px;
}

.sidebar .toggle-button{
    background-color: transparent;
    border: none;
}

.options{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 16px;
    margin-left: -20px;
    width: 100%;
}

.options li{
    margin-bottom: 8px;
}

.options a{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
